    <!DOCTYPE html>  
    <html lang="en">  
        <head>  
            <meta charset="utf-8" />  
            <title>Maps</title>  
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
            <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />  
            <script id="sap-ui-bootstrap"  
                    type="text/javascript"  
                    src="https://sapui5.netweaver.ondemand.com/resources/sap-ui-core.js"   
                    data-sap-ui-language="en_US"  
                    type="text/javascript"  
                    data-sap-ui-libs="sap.m,sap.makit"   
                    data-sap-ui-theme="sap_mvi"></script>  
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuUcYfN7ale-itKUn0IgH2gl9DYVbyQa0&sensor=false"  
                    type ="text/javascript"></script>  
            <script type="text/javascript" src="j/app.js" ></script>  
            <style>  
                .myMap {  
                    height: 100%;  
                    width: 100%  
                }  
            </style>  
        </head>  
        <body class="sapUiBody">  
          <div id="content"></div>  
        </body>  
    </html>  